/* RESET RULES */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img{
  max-height: 100%;
  max-width: 100%;
  aspect-ratio: 1:1;
}

/* HEADER - MAIN - FOOTER PADDING AND MARGIN */
main{
  margin-top: 40px;
}

/* CONTAINER CENTERING */
.container{
  width: 1000px;
  margin: 0 auto;
}

/* FLEXBOX */
.row{
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.col{
  max-width: calc(100%/3);
  padding-right: 20px;
  padding-top: 40px;
}

/* DEBUG */
.debug .navbar{
  width: 100%;
  min-height: 100px;
  background-color: aqua;
  border: 1px solid black;
}