/* RESET RULES */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img{
  height: 500px;
  aspect-ratio: 1:1;
}

/* CONTAINER CENTERING */
.container{
  width: 1000px;
  margin: 0 auto;
}

/* FLEXBOX */
.row{
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



/* DEBUG */
.debug .navbar{
  width: 100%;
  min-height: 100px;
  background-color: aqua;
  border: 1px solid black;
}