@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html{
  font-family: "Montserrat", sans-serif;
}

/* RESET RULES */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: currentColor;
}

.card img{
  max-height: 100%;
  max-width: 100%;
  aspect-ratio: 1/1;
}

/* HEADER - MAIN - FOOTER PADDING AND MARGIN */
main{
  margin: 40px 0;
}

/* CONTAINER CENTERING */
.container{
  width: 1000px;
  margin: 0 auto;
}

/* FLEXBOX NAVBAR AND CENTERING */
.navbar{
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 10px auto;
}

/* FLEXBOX  - ROWs */

.row{
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* COLUMNS */
.col{
  max-width: calc(100%/3);
  padding-right: 20px;
  padding-top: 20px;
}

/* FAVOURITE HEART STYLE */
.favourite{
  font-size: 30px;
  background-color: white;
  min-width: 50px;
  min-height: 50px;
  position: absolute;
  top: 1%;
  right: 0;
  text-align: center;
  line-height: 50px;
}

/* BADGES - DISCOUNT - ECO-FRIENDLY */
.badges{
  position: absolute;
  left: 0;
  bottom: 10%;
}
.green-bg, .red-bg{
  color: white;
  padding: 2px 10px;
}

.green-bg{
  background-color: #008000;
}
.red-bg{
  margin-right: 5px;
  background-color: red;
}


/* CARD FLEXBOX */
.card-description{
  display: flex;
  flex-direction: column;
}

/* CARD  AND DESCRIPTION PROPERTIES */
.card{
  position: relative;
}
.brand{
  font-size: 13px;
}
.product{
  font-weight: 600;
}

.final-price{
  font-size: 14px;
  color: rgb(255, 0, 0);
}
.line-through{
  font-size: 14px;
  text-decoration: line-through;
}

/* DEBUG */
.debug .navbar, .debug.page-footer{
  width: 100%;
  min-height: 100px;
  background-color: aqua;
  border: 1px solid black;
}